<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/common-css :: head(~{::title},~{::link})">  
		<title>base-smt</title>
		<link rel="stylesheet" th:href="@{/css/index.css}">
	</head>
	<body>
		<!-- layui 布局模板 -->
		<div class="layui-layout layui-layout-admin" style="overlfow: hidden;">
			<!-- 顶部区域 -->
			<div th:replace="common/header :: header"></div>
			<!-- 菜单区域 -->
			<div th:replace="common/menu :: menu(menuEntity=${menu})"></div>
			<!-- 主体内容 -->
			<div th:replace="common/main :: main"></div>
		</div>
		<!-- 页面公共脚本 -->
		<div th:replace="common/common-js :: commonjs"></div>
		<script th:src="@{/js/index.js}" src="js/index.js"></script> 
	</body>
</html>